<div class="container">
  <h1>List of all the places where battle has taken place</h1>
  <ul>
    <li *ngFor="let place of battlePlaces">{{ place }}</li>
  </ul>

  <h1>Total number of battle - {{ battleCount }}</h1>

  <h1>Stats - </h1>
  <div *ngIf="battleStats">
    <span><b>Most active</b> - </span><br>
    <span>Attacker king - <b>{{ battleStats.most_active.attacker_king }}</b></span><br>
    <span>Defender king - <b>{{ battleStats.most_active.defender_king }}</b></span><br>
    <span>Region - <b>{{ battleStats.most_active.region }}</b></span><br>
    <span>Name - <b>{{ battleStats.most_active.name }}</b></span><br><br>

    <span><b>Attacker Outcome</b> - </span><br>
    <span>Win - <b>{{ battleStats.attacker_outcome.win }}</b></span><br>
    <span>Loss - <b>{{ battleStats.attacker_outcome.loss }}</b></span><br><br>

    <span><b>Battle Types</b> - </span><br>
    <ul style="margin: 5px;">
      <li *ngFor="let type of battleStats.battle_type">{{ type }}</li>
    </ul>
    <br>

    <span><b>Defender Size</b> - </span><br>
    <span>Average - <b>{{ battleStats.defender_size.average }}</b></span><br>
    <span>Min - <b>{{ battleStats.defender_size.min }}</b></span><br>
    <span>Max - <b>{{ battleStats.defender_size.max }}</b></span><br><br>
  </div>
</div>