<!-- <style type="text/css">
	table, th, td {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
	}
	form > div {
		margin-top: 5px;
	}
</style> -->

<div class="container">
  <h1>Search</h1>
  <form #f="ngForm" (submit)="searchBattle(f)">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" name="name" ngModel>
    </div>

    <div class="form-group">
      <label for="year">Year:</label>
      <input type="number" class="form-control" min="0" name="year" ngModel>
    </div>

    <div class="form-group">
      <label for="battle_number">Battle number:</label>
      <input type="number" class="form-control" min="0" name="battle_number" ngModel>
    </div>

    <div class="form-group">
      <label for="attacker_king">Attacker king:</label>
      <input type="text" class="form-control" name="attacker_king" ngModel>
    </div>

    <div class="form-group">
      <label for="defender_king">Defender king:</label>
      <input type="text" class="form-control" name="defender_king" ngModel>
    </div>

    <div class="form-group">
      <label for="attacker_outcome">Attacker outcome:</label>
      <input type="text" class="form-control" name="attacker_outcome" ngModel>
    </div>

    <div class="form-group">
      <label for="battle_type">Battle type:</label>
      <input type="text" class="form-control" name="battle_type" ngModel>
    </div>

    <div class="form-group">
      <label for="attacker_size">Attacker size:</label>
      <input type="number" class="form-control" min="0" name="attacker_size" ngModel>
    </div>

    <div class="form-group">
      <label for="defender_size">Defender size:</label>
      <input type="number" class="form-control" min="0" name="defender_size" ngModel>
    </div>

    <div class="form-group">
      <label for="attacker_commander">Attacker commander:</label>
      <input type="text" class="form-control" name="attacker_commander" ngModel>
    </div>

    <div class="form-group">
      <label for="defender_commander">Defender commander:</label>
      <input type="text" class="form-control" name="defender_commander" ngModel>
    </div>

    <div class="form-group">
      <label for="location">Location:</label>
      <input type="text" class="form-control" name="location" ngModel>
    </div>

    <div class="form-group">
      <label for="region">Region:</label>
      <input type="text" class="form-control" name="region" ngModel>
    </div>

    <button class="btn btn-primary">Submit</button>
  </form>
  <br>

  <table *ngIf="searchResult" class="table table-dark table-striped table-bordered">
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th>Battle number</th>
      <th>Attacker king</th>
      <th>Defender king</th>
      <th>Attacker outcome</th>
      <th>Battle type</th>
      <th>Attacker size</th>
      <th>Defender size</th>
      <th>Attacker commander</th>
      <th>Defender commander</th>
      <th>Location</th>
      <th>Region</th>
    </tr>
    <tr *ngFor="let row of searchResult">
      <td>{{ row.name }}</td>
      <td>{{ row.year }}</td>
      <td>{{ row.battle_number }}</td>
      <td>{{ row.attacker_king }}</td>
      <td>{{ row.defender_king }}</td>
      <td>{{ row.attacker_outcome }}</td>
      <td>{{ row.battle_type }}</td>
      <td>{{ row.attacker_size }}</td>
      <td>{{ row.defender_size }}</td>
      <td>{{ row.attacker_commander }}</td>
      <td>{{ row.defender_commander }}</td>
      <td>{{ row.location }}</td>
      <td>{{ row.region }}</td>
    </tr>
    <tr *ngIf="searchResult.length == 0">
      <td colspan="13">No data</td>
    </tr>
  </table>
</div>